/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (min-width : 480px) {

  #main-footer {
    ul {
      float: right;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .navbar {
    .nav {
      background-color: $color-main-blue;

      li {
        border-bottom: 1px solid #ffffff;
        a {
          display: block !important;
        }
      }
    }
  }

  .countdown-area {
    .count {
      width: 65px !important;
    }
  }

  #register {
    text-align: center;

    .register-button {
      text-align: center !important;
    }
  }

  #main-footer {
    text-align: center;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}